@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    background-color: rgb(248 244 235) /* #f8f4eb */;
    @apply text-gray-500;
}

.flash-message {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
}

.flash-message.success {
    background-color: green;
}

.flash-message.info {
    background-color: blue;
}